@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .HomePage {
    @apply h-screen flex flex-row items-center justify-center;
  }

  .HomePage__header {
    @apply flex flex-col items-center;
  }

  .HomePage__heading {
    @apply font-sans text-4xl font-light text-slate-500; 
  }

  .HomePage__icon {
    width: 64px;
    height: 64px;
  }

  .HomePage__icon img {
    width: 100%;
  }
}